@import '../../../public/assets/assets.module.scss';
footer {
    background-color: $off-white;
    box-shadow: 0 -.5rem .5rem  lightgrey;
}
.social {
    font-size: $font2;
}
.active {
    color: $accent-color !important;
}